# format options

--exclude DerivedData, Documentation, Scripts, **/Package.swift

--disable redundantType

--indent 4
--allman true 
--elseposition next-line
--indentcase true
--patternlet inline
--semicolons never 
--shortoptionals always
--stripunusedargs always
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
